@import "tailwindcss";

:root {
  --mistral-black: #1E1E1E;
  --mistral-black-tint: #1E1E1E;
  --mistral-orange: #FF8205;
  --mistral-orange-dark: #FA500F;
  --mistral-orange-light: #FFAF00;
  --mistral-yellow: #FFD800;
  --mistral-beige-light: #FFF0C3;
  --mistral-beige-dark: #E9E2CB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
